/* All styles for your header Components live here */

img {
  width: 50px;
  margin-right: 10px;
}

span:first-child {
  font-weight: bold;
}

span:not(:first-child) {
  color: #657786;
}

span {
  margin-right: 10px;
}

.header {
  display: flex;
}

.header-item:first-child {
  width: 10%;
}

.header-item:last-child {
  width: 90%;
}

p {
  margin-top: 10px;
  line-height: 1.2;
}